
GameServerV1/.vs/GameServerV1/DesignTimeBuild/.dtbcache
AdminBoard/.vs/AdminBoard/v16/.suo
*.ide
*.ide
GameServerV1/.vs/GameServerV1/v16/.suo
*.ide
GameServerV1/.vs/GameServerV1/v16/Server/sqlite3/storage.ide-wal
